<!DOCTYPE html>
<html ng-app="Booky">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Booky</title>
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <!-- Lodash -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
        <!-- Angular App -->
        <script src="booky-app.js"></script>
        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body ng-controller="MainCtrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-2 sidebar">
                    <h1 class="logo">Booky</h1>
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category.id)}">
                            <a href="#" ng-click="setCurrentCategory(category)">
                                {{category.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5">
                                <h1>{{currentCategory.name}}</h1>
                            </div>  
                        </div>
                        <div class="row" ng-repeat="bookmark in bookmarks | filter:{catId:currentCategory.id}">
                            <div class="col-md-5">
                                <a href="{{bookmark.url}}" target="_blank" ng-class="{'editedBookmark':isSelectedBookmark(bookmark.id)}">
                                    <span class="glyphicon glyphicon-star"></span>&nbsp;
                                    {{bookmark.title}}
                                </a>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <a href="#" ng-click="startEditing();setEditedBookmark(bookmark);"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#" ng-click="deleteBookmark(bookmark.id);"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="addItem">
                                    <a href="#" ng-click="startCreating()"><span class="glyphicon glyphicon-plus pull-right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="isCreating">
                            <div class="col-md-5 editCreateForm">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Creating - New Bookmark</div>
                                    <div class="panel-body">
                                        <form ng-submit="createBookmark(newBookmark)">
                                            <div class="form-group">
                                                <label for="newBookmarkTitle">Title</label>
                                                <input type="text" class="form-control" id="newBookmarkTitle" ng-model="newBookmark.title">
                                            </div>
                                            <div class="form-group">
                                                <label for="newBookmarkURL">URL</label>
                                                <input type="text" class="form-control" id="newBookmarkURL" ng-model="newBookmark.url">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="isEditing">
                            <div class="col-md-5 editCreateForm">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editing - {{originBookmark.title}}</div>
                                    <div class="panel-body">
                                        <form ng-submit="editBookmark(editedBookmark)">
                                            <div class="form-group">
                                                <label for="editedBookmarkTitle">Title</label>
                                                <input type="text" class="form-control" id="editedBookmarkTitle" ng-model="editedBookmark.title">
                                            </div>
                                            <div class="form-group">
                                                <label for="editedBookmarkURL">URL</label>
                                                <input type="text" class="form-control" id="editedBookmarkURL" ng-model="editedBookmark.url">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                            <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>